.card {
    height: 100%; /* Les cartes auront toutes la même hauteur */
    overflow: hidden; /* Empêche tout dépassement des éléments */
    display: flex;
    flex-direction: column; /* Empile l'image et le contenu verticalement */
    align-items: center; /* Centre les éléments horizontalement */
}

.card-img-top {
    height: 250px; /* Fixe une hauteur uniforme pour toutes les images */
    width: 180px; 
    object-fit: contain; /* Affiche l'image entière sans la rogner */
    object-position: center; /* Centre l'image dans son cadre */
    background-color: #f8f9fa; 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; /* Centre le texte dans le corps de la carte */
}

h1 {
    text-align: center;
}

.like-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espacement entre l'icône et le texte */
    cursor: pointer;
}

.like-icon {
    width: 30px; /* Ajustez la taille de l'icône */
    height: 30px;
}

.like-text {
    font-size: 16px;
}

.container{background-color: rgb(37, 138, 175) !important;}